@let loading = store.loading();
@if (!loading) {
	@for (item of store.todoItems(); track item.id) {
		<app-todo-item [todoItem]="item"/>
	} @empty {
		<div class="h-6rem flex gap-3 align-content-center py-4 justify-content-center align-items-center border-1 border-round-md border-dashed border-gray-400">
			<p class="p-0 m-0 text-base">Нет задач</p>
		</div>
	}
}
@else {
	<div class="h-6rem  flex gap-3 py-4 justify-content-center align-items-center">
		<p-progressSpinner styleClass="w-3rem h-3rem" />
		<p class="p-0 m-0 text-base">Загрузка...</p>
	</div>
}
